@keyframes slide-up {
  0% {
    opacity: 0.5;
    transform: translateY(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.5s;
}

.fade-in {
  animation: fade-in 0.5s;
}

.slow-fade-in {
  animation: fade-in 2s;
}
